<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="atex.dev.spring.product.dao.ProductInfoDao">

    <select id="queryAllProducts" resultType="atex.dev.spring.product.dto.ProductInfoDto"
    >
        SELECT * FROM tb_product
    </select>
    <select id="deleteProduct"
    >
        UPDATE  tb_product SET num=num-#{number},updateTime = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%m:%s') WHERE productId=#{productId}
    </select>
</mapper>